body{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: 16px;
   font-weight: bold;
   background: #666 ;
}

h1{
   margin-bottom: 0.5em;
   line-height: 2em;
   color: white;
}

